<nav class="navbar">
  <div class="navbar-container">
    <div class="hamburger" (click)="toggleMenu()">
      <div [class.open]="menuAbierto"></div>
    </div>

    <div class="navbar-logo" (click)="navigateToHomeAndScroll()">THE BARBER'S APP</div>

    <ul class="navbar-links" [class.abierto]="menuAbierto">
      <li>
        <a (click)="navigateToHomeAndScroll()"
           [class.activo]="isActive('top')">Inicio</a>
      </li>
      <li>
        <a (click)="navigateToHomeAndScroll('servicios')"
           [class.activo]="isActive('servicios')">Servicios</a>
      </li>
      <li>
        <a routerLink="/cortes"
           routerLinkActive="activo"
           (click)="menuAbierto = false; activeSection = ''">Cortes</a>
      </li>
      <li>
        <a routerLink="/cita"
           routerLinkActive="activo"
           (click)="menuAbierto = false; activeSection = ''">Cita</a>
      </li>
    </ul>
  </div>
</nav>
