<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo" (click)="navigateToHomeAndScroll()">
      THE BARBER'S WORKSHOP
    </div>
    <ul class="navbar-links">
      <li>
        <a (click)="navigateToHomeAndScroll()" 
           [class.activo]="activeSection === 'top'">Inicio</a>
      </li>
      <li>
        <a (click)="navigateToHomeAndScroll('servicios')" 
           [class.activo]="activeSection === 'servicios'">Servicios</a>
      </li>
      <li>
        <a routerLink="/cita" routerLinkActive="activo">Cita</a>
      </li>
    </ul>
  </div>
</nav>
