.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
main.container {
  min-height: calc(100vh - 120px); // deja espacio para navbar y footer
  padding: 2rem 1.5rem;
  background-color: $gray-darkest;
}
