<section class="hero">
  <div
    class="hero-background"
    [style.backgroundImage]="'url(' + currentImage + ')'"
    [class.fade]="imagenEnTransicion"
  ></div>

  <div class="overlay"></div>
  <div class="hero-content">
    <h1>Transforma tu estilo.</h1>
    <p>La experiencia de barbería más exclusiva, ahora a un clic.</p>
    <a class="cta-button" routerLink="/cita">Haz tu cita</a>
  </div>
</section>


<section id="servicios" class="servicios-prev">
  <h2>Servicios disponibles</h2>

  <!-- CONTENEDOR FLEX PARA LOS SERVICIOS -->
  <div class="servicios-list">
    <div *ngFor="let servicio of servicios" class="card" (click)="toggleServicio(servicio.ServicioId)">
      <h3>{{ servicio.Nombre }}</h3>
      <p>${{ servicio.Precio }} MXN</p>
    </div>
  </div>

  <!-- DETALLE EXPANDIBLE CON BARBEROS -->
  <div *ngFor="let servicio of servicios">
<div *ngIf="servicioActivo === servicio.ServicioId" class="expanded-servicio" [id]="'servicio-' + servicio.ServicioId">
      <p class="descripcion">{{ servicio.Descripcion }}</p>

      <div class="barberos-grid">
        <div *ngFor="let barbero of barberosPorServicio[servicio.ServicioId]" class="barbero-card">
<img [src]="fotoBaseUrl + (barbero.FotoUrl.trim() || 'default.jpg')" />
  <div>
    <p class="nombre">{{ barbero.Nombre }}</p>
    <p class="especialidad">{{ barbero.Especialidad }}</p>
  </div>
</div>

      </div>
    </div>
  </div>
</section>
