<section class="hero" [ngStyle]="{ 'background-image': 'url(' + currentImage + ')' }">
  <div class="overlay"></div>
  <div class="hero-content">
    <h1>Transforma tu estilo.</h1>
    <p>La experiencia de barbería más exclusiva, ahora a un clic.</p>
<a class="cta-button" routerLink="/cita">Haz tu cita</a>
  </div>
</section>

<section id="servicios" class="servicios-prev">
  <h2>Servicios destacados</h2>
  <div class="cards-container">
    <div class="card">
      <h3>Corte Clásico</h3>
      <p>$150 MXN</p>
    </div>
    <div class="card">
      <h3>Barba Premium</h3>
      <p>$130 MXN</p>
    </div>
    <div class="card">
      <h3>Corte + Barba</h3>
      <p>$250 MXN</p>
    </div>
    <div class="card">
      <h3>Fade + Styling</h3>
      <p>$180 MXN</p>
    </div>
    <div class="card">
      <h3>Color o Diseño</h3>
      <p>$220 MXN</p>
    </div>
  </div>
</section>
